.navigation .nav-list {
    margin:0;
    padding: 0;
    list-style-type: none;
}




.navigation li {
    display: inline-block;
    margin-right: 20px;
    border-radius: 3px;
    padding: 2px;
}


 .hob, .edu, .home, .project {
       text-decoration: none;
    color:white;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size:30px;
    text-transform: uppercase;
    margin-top: 40px; 
} 
.activeLink {
    color:blue;
}

.activeLink:hover {
    text-decoration: underline;
}

.background {
    background-color: grey;
    /*background-image: url("./Img/Cherry\ blossom.jpg");*/
    padding:50px;
    background-size:100%;
    background-position: center;
    text-align: center;
}

body {
    background-color:bisque;
    padding: 0;
    margin: 0;
    
}